@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300&family=Gentium+Book+Plus&display=swap");
.text-underline {
  text-decoration: underline;
  text-underline-offset: 10px;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body * {
  border: none;
  outline: none;
}

header {
  display: flex;
  width: 100%;
  height: 100%;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: 50px;
  z-index: 2;
  text-align: start;
}
header nav .input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: auto;
  height: 100%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  border: false false false;
  border-radius: 3.1rem;
  background-color: rgb(255, 255, 255);
  min-width: 3.1rem;
  padding: 0 0.6rem;
  cursor: pointer;
}
header nav .input-box svg {
  transition: 0.6s;
  font-size: 1.25rem;
  color: #86a8e7;
  width: 1.6rem;
}
header nav .input-box input {
  width: 0;
  height: 100%;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
  color: rgba(51, 50, 50, 0.87);
  caret-color: rgb(94, 88, 88);
  background-color: transparent;
  transition: 0.4s;
}
header nav .input-box input::placeholder {
  color: rgb(94, 88, 88);
}
header nav .input-box:hover input, header nav .input-box:focus input, header nav .input-box:focus-within input {
  width: 18rem;
  height: auto;
  padding-left: 1rem;
}
header nav .input-box:hover svg, header nav .input-box:focus svg, header nav .input-box:focus-within svg {
  transform: rotate(1080deg);
}

.bg-blur {
  width: clamp(300px, 100%, 800px);
  height: clamp(500px, 100%, 950px);
  background: linear-gradient(to bottom, rgba(230, 230, 230, 0.4588235294), rgba(127, 127, 213, 0.2823529412)), url("assets/images/data-background-image.jpeg");
  background-size: cover;
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.grid-data-container {
  width: 100%;
  height: clamp(500px, 100%, 950px);
  display: grid;
  inset: 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 12.5%);
  grid-template-areas: "city-info city-info" "weather-info weather-info" "weather-info weather-info" "weather-info weather-info" "weather-info weather-info" "add-info add-info" "add-info add-info" "add-info add-info";
  padding: 1rem;
  margin-top: 1rem;
}
.grid-data-container .city-info {
  grid-area: city-info;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.grid-data-container .city-info .city-name {
  font-family: "Gentium Book Plus", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: clamp(1.4rem, 6vw, 2.1rem);
  font-weight: 400;
  text-decoration: underline;
  text-underline-offset: 10px;
}
.grid-data-container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: false false false;
  border-radius: 0.6rem;
  background-color: rgba(255, 255, 255, 0.61);
}
.grid-data-container .weather-info {
  grid-area: weather-info;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0.6rem;
  flex-wrap: wrap;
}
.grid-data-container .weather-info .temp {
  font-size: clamp(1.4rem, 6vw, 2.1rem);
  font-weight: 600;
  margin-bottom: 0.6rem;
}
.grid-data-container .weather-info svg {
  font-size: clamp(4rem, 7vw, 5rem);
  margin-bottom: 0.6rem;
}
.grid-data-container .weather-info .box {
  width: 45%;
  height: 80%;
}
.grid-data-container .add-info {
  grid-area: add-info;
  width: 100%;
  height: 90%;
  overflow: auto;
  white-space: nowrap;
  pointer-events: all;
  scroll-behavior: smooth;
}
.grid-data-container .add-info::-webkit-scrollbar {
  width: 1rem;
}
.grid-data-container .add-info::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.grid-data-container .add-info::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.473);
  border-radius: 10px;
}
.grid-data-container .add-info .box {
  width: clamp(30%, 6rem, 60%);
  height: clamp(75%, 10rem, 80%);
  display: inline-flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 5px;
  pointer-events: none;
  margin: 0.6rem;
}
.grid-data-container .add-info .box svg {
  font-size: clamp(1.2rem, 6vw, 1.8rem);
}

time {
  display: block;
}

body {
  background: #7f7fd5; /* fallback for old browsers */
  background: url("./assets/images/Tesselation-Transition.jpg"), -webkit-linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(145, 234, 228, 0.7411764706), rgba(134, 168, 231, 0.6862745098), rgba(127, 127, 213, 0.768627451)), url("./assets/images/Tesselation-Transition.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Arima", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(94, 88, 88);
  text-align: center;
}
body .loader {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  -webkit-animation: spin 0.6s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: spin 0.6s infinite cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border: false false false;
  border-radius: 50%;
  display: none;
  position: absolute;
  z-index: 5;
  top: calc(50% - 1.25rem);
  left: calc(50% - 1.25rem);
  transform: translate(-50%, -50%);
  border-top: solid #7f7fd5 3px;
  border-right: solid #7f7fd5 3px;
  border-bottom: solid white 3px;
  border-left: solid white 3px;
}
body .main-container {
  width: clamp(300px, 90%, 400px);
  height: clamp(550px, 80vh, 480px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: -1rem auto 0 auto;
  border: false false false;
  border-radius: 10px;
  --webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  border-top: 1.6rem solid #fff;
  border-bottom: 1.6rem solid #fff;
  padding-bottom: 2rem;
  pointer-events: none;
  position: relative;
}
body .prompt-container {
  width: clamp(300px, 28%, 500px);
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: -1rem auto 0 auto;
  border: false false false;
  border-radius: 10px;
  color: black;
  pointer-events: none;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
}
body .prompt-container svg {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: rgb(179, 20, 20);
}

/*# sourceMappingURL=index.css.map */
